/**
HEADER - navigation bar
 */

header {
    color: #283618;
    background-color: #798478;
    font-family: "Sans Serif Collection", serif;
    font-weight: bold;
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    display: inline;
}

li a {
    color: black;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #1a2310;
    color: #798478;
}

/**
BODY
 */

body {
    margin: 0;
    text-align: center;
    background-color: #EAE0CC;
    color: #283618;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #4D6A6D;
    color: #1a2310;
    padding-bottom: 0;
}

p {
    margin-left: 20%;
    margin-right: 20%;
}