/**
HEADER - navigation bar
 */

header {
    background-color: #81B29A;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    color: black;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #3D405B;
    color: #F4F1DE;
}

/**
body
 */
body {
    margin: 0;
    color: #3D405B;
    background-color: #F4F1DE;
    text-align: center;
}

h1 {
    alignment-baseline: center;
    color: #3D405B;
    font-family: "Baskerville Old Face";
}

/**
grid container
 */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.grid-item {
    background-color: #81B29A;
    padding: 20px;
    text-align: center;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

footer {
    background-color: #3D405B;
    color: #F4F1DE;
}