/**
navigation bar
 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
    position: sticky;
    top: 0;
}

li {
    display: inline;
}

li a {
    color: black;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: indigo;
    color: cornflowerblue;
}

/**
body
 */
body {
    color: rebeccapurple;
    background-color: indigo;
}

h1 {
    alignment-baseline: center;
    color: indigo;
    font-family: "Baskerville Old Face";
}

/**
grid container
 */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.grid-item {
    background-color: lightskyblue;
    padding: 20px;
    text-align: center;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}